<h1>Welcome to the countingwords app<h1>
	<form action = '/title'> 
		<div class = 'form-group'>
			<label for = 'title'> Enter a sentence here. </label>
			<input id = 'title' name = 'title' class = 'form-control' type = 'text'>
		</div>
			<button type = 'submit' class ='btn-success'>Count the words!</button>	
	</form>
	


		